@using BCRS.Models
@model LoginDto
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Layouts/Layout.cshtml";
}
@Scripts.Render(BCRS.Constants.Account)
@Scripts.Render(BCRS.Constants.LoginModalWindow)
<div class="section" ng-controller="LoginController as loginCtrl">
    <div class="container">
        <script type="text/ng-template" id="LoginFailed.html">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="loginFailedCtrl.cancel()">&times;</button>
                    <h3 class="modal-title" id="modal-title">Login failed</h3>
                </div>
                <div class="modal-body" id="modal-body">
                    <p>Your login or password is not correct, please check your input</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-warning" type="button" ng-click="loginFailedCtrl.ok()">Ok</button>
                </div>
            </div>
        </script>
        @using (Html.BeginForm())
        {
            <div class="row" ng-init="loginCtrl.init(@Newtonsoft.Json.JsonConvert.SerializeObject(Model))">
                <div class="col-md-12">
                    <h1 class="text-center">Sign in</h1>
                </div>
                <div class="col-md-offset-4 col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-4 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control"})
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-4 col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-10">
                            <div class="checkbox">
                                @Html.LabelFor(m => m.RememberMe)
                                @Html.CheckBoxFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="submit" value="Login" class="form-btn" />
                            <h5 class="text-center">Not yet joined? <a>Register</a></h5>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
